@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-image: url(https://res.cloudinary.com/dqck5l7mj/image/upload/v1655768132/bg-intro-desktop_r9i5bg.png);
  background-color: hsl(0, 100%, 74%);
  background-position: center;
  background-repeat: no-repeat;
  font-size: 16px;
}

h1 {
  font-family: "Poppins", sans-serif;
  color: white;
}
.left-para {
  font-family: "Poppins", sans-serif;
  color: white;
}

.try {
  background-color: hsl(248, 32%, 49%);
  border-bottom: 7px solid hsl(0, 54%, 65%);
  border-radius: 8px;
  color: white;
  font-family: "Poppins", sans-serif;
  padding: 8px;
  font-weight: 500;
  text-align: center;
}
span {
  color: hsl(246, 25%, 77%);
}

.form-container {
  background-color: white;
  border-radius: 8px;
  border-bottom: 7px solid hsl(0, 54%, 65%);
  padding: 20px;
}

input {
  width: 100%;
  border: 1px solid gainsboro;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 4px;
}
#fname {
  margin-top: 25px;
}
button {
  background-color: hsl(154, 59%, 51%);
  width: 100%;
  border: 1px solid gainsboro;
  border-bottom: 4px solid hsl(154, 50%, 47%);
  border-radius: 4px;
  padding: 12px 20px;
  margin: 8px 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  display: inline-block;
  color: white;
  cursor: pointer;
}
button:hover {
  background-color: hsl(154, 65%, 67%);
}
.terms {
  color: gray;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  text-align: center;
}

input:required {
  border-color: hsl(249, 10%, 26%);
  border-width: 2px;
}
input:required:invalid {
  border-color: #c00000;
}

/* DESKTOP STYLING */
.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.flex-container div {
  padding: 30px;
}

/* MOBILE STYLING */
@media screen and (max-width: 600px) {
  body {
    background-image: url(https://res.cloudinary.com/dqck5l7mj/image/upload/v1655768152/bg-intro-mobile_urxtm0.png);
    background-color: hsl(0, 100%, 74%);
    background-position: center;
    background-repeat: no-repeat;
    font-size: 16px;
  }
  .flex-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .try {
    padding: 40px 8px;
  }
}
